################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitProject/.vs/GitProject/v15
/GitProject/GitProject/GitProject/obj
/GitProject/GitProject/GitProject.Android/obj
/GitProject/GitProject/GitProject.iOS/obj
/GitProject/GitProject/GitProject/bin/Debug/netstandard2.0
/GitProject/GitProject/GitProject.Android/bin/Debug
